<% content_for :nav_content do %>
	<section>
		she does:
		<ul>
			<li>
				music that's
				<a href="https://open.spotify.com/artist/3TzsOJwiMZHmnnRFAdfuUH?si=FJp1sgIJQ4GX8ZHOArHH0g" target="blank" rel="noopener">finished &amp; disorientating</a>
				or <a href="https://soundcloud.com/asymptotes" target="blank" rel="noopener">unfinished &amp; raw</a>
			</li>
			<li>
				<a href="https://github.com/apaleslimghost" target="blank" rel="noopener">code</a> for problems only she has
			</li>
			<li>
				incessant <a href="https://twitter.com/apaleslimghost" target="blank" rel="noopener">shitposts</a>
			</li>
		</ul>

	</section>
<% end %>

<%= render @posts %>
