html, body {
	height: 100%
}

html {
	background: linear-gradient(to right bottom, #AA076B 60%, #61045F);
	background-size: 100% 100%;
	background-attachment: fixed;
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 18px;
}

body.dropping::after {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #0003;
	content: 'drop files to post'
}

h1, h2 {
	font-weight: 900;
	margin-top: 0;
	margin-bottom: 2rem;
	line-height: 1;
}

a, a:visited {
	color: white;
	font-weight: 900;
}

a:hover {
	color: #ece;
}

a:active {
	color: #eae;
}

strong {
	font-weight: 900;
}

code {
	font-family: Iosevka, Monaco, Consolas, monospace;
}

header {
	position: fixed;
	top: 0;
	padding-bottom: 4em;
	background: linear-gradient(to bottom, #AA076B 80%, #aa076b00);
	height: 6em;

	h1 {
		font-size: calc(1rem + 8vw);

		body.home & {
			font-size: calc(2.4rem + 8vw);
		}
	}

	body.home & {
		height: 24rem;
	}

	@media (min-width: 70rem) {
		body.home & {
			max-width: 50rem;

			h1 {
				font-size: 8rem;
			}
		}
	}

	@media (min-width: 56rem) {
		body:not(.home) & {
			top: auto;
			background: none;
			padding: 0;
			height: auto;
			right: 1rem;
			bottom: 1rem;
			width: 16rem;
			text-align: right;

			h1 {
				font-size: 5em;
			}
		}
	}
}

main {
	body.home & {
		display: grid;
		gap: 1em;
		grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
		grid-template-rows: masonry;

		margin-top: 24em;
		margin-bottom: 2em;

		@media (min-width: 70rem) {
			margin-top: 1em;
			position: absolute;
			left: 50rem;
			right: 1rem;
			top: 0;
		}
	}

	body:not(.home) & {
		max-width: 40rem;
		margin-top: 10em;
		margin-bottom: 2em;

		@media (min-width: 56rem) {
			margin-top: 1em;
		}
	}
}

article {
	padding-bottom: 2rem;
	border-bottom: 1px solid white;

	img:only-child {
		display: block;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
	}

	blockquote {
		margin: 1em 0;
		padding: 1em calc(1em - 3px);
		border-left: 3px solid white;

		p:first-child {
			margin-top: 0;
		}
		p:last-child {
			margin-bottom: 0;
		}
	}

	ul, ol {
		padding: 0;
	}

	li {
		margin-left: 1em;
	}

	pre {
		background: #370E36;
		padding: 1em;
	}
}

.secret-area {
	position: fixed;
	bottom: 0;
	left: 0;
}

a.secret-area {
	color: transparent;

	&:hover, &:active {
		color: inherit;
	}
}

.field {
	margin-bottom: 0.5rem;
}

input:not([type=submit]), textarea {
	font: inherit;
	border: 0 none;
	appearance: none;
}

input:not([type=submit]) {
	background: transparent;
	color: inherit;
	background: #fff3;
	border-bottom: 2px solid white;
}

textarea {
	width: 100%;
	min-height: 10em;
	resize: vertical;
}

button, input[type=button], input[type=submit] {
	font: inherit;
	appearance: none;
	font-size: 0.9em;
	background: #370E36;
	border: 0 none;
	color: white;
	padding: 0.2em 0.4em;
	cursor: pointer;
	font-weight: 900;

	&:hover {
		background: #5B0D5A;
	}

	&:active {
		background: #730071;
	}
}

ul.tags {
	display: inline;
	margin: 0;
	list-style-type: none;
	list-style-position: inside;

	li {
		display: inline;
		margin: 0;
		&::before {
			content: '#';
		}
	}
}

.yeet {
	display: inline-block;
}
