html, body {
	height: 100%
}

body {
	background: linear-gradient(to right bottom, #AA076B 60%, #61045F);
	background-size: 100% 100%;
	background-attachment: fixed;
	color: white;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 18px;
}

h1, h2 {
	font-weight: 900;
	margin-block: 0 2rem;
	line-height: 1;
}

a, a:visited {
	color: white;
	font-weight: 900;
}

a:hover {
	color: #ece;
}

a:active {
	color: #eae;
}

header {
	position: fixed;
	top: 0;
	padding-bottom: 4em;
	max-width: 60rem;
	background: linear-gradient(to bottom, #AA076B 80%, transparent);
	height: 6em;

	h1 {
		font-size: calc(1rem + 8vw);

		body.home & {
			font-size: 8em;
		}
	}

	body.home & {
		height: 16em;
	}

	@media (min-width: 56rem) {
		body:not(.home) & {
			top: auto;
			background: none;
			padding: 0;
			height: auto;
			right: 1rem;
			bottom: 1rem;
			width: 16rem;
			text-align: right;

			h1 {
				font-size: 5em;
			}
		}
	}
}

main {
	max-width: 40rem;
	margin-block: 10em 2em;

	@media (min-width: 56rem) {
		margin-block-start: 1em;

		body.home & {
			margin-left: auto;
		}
	}
}

