<% content_for :nav_content do %>
	<section>
		she'll haunt you with:
		<ul>
			<li>
				<a href="https://open.spotify.com/artist/3TzsOJwiMZHmnnRFAdfuUH?si=FJp1sgIJQ4GX8ZHOArHH0g" target="blank" rel="noopener">big kicks & rich noises</a>
			</li>
			<li>
				<a href="https://www.youtube.com/channel/UCuwdW47KpcunIOlFaB63KbQ" target="blank" rel="noopener">live performed bullshit noise</a>
			</li>
			<li>
				<a href="https://github.com/apaleslimghost" target="blank" rel="noopener">error messages that tell you how they can be fixed</a>
			</li>
			<li>
				<a href="https://mastodon.social/apaleslimghost" target="blank" rel="me noopener">shitposts</a>
			</li>
		</ul>

	</section>
<% end %>

<%= render @posts %>

<% if current_user %>
	<article>
		<%= render 'posts/form', post: Post.new %>
	</article>
<% end %>
